* {
    font-family: monospace;
    margin: 0;
    
}

h4 {
   
    font-size: 120%;
}


#header {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    color: rgb(61, 61, 61);
    padding-bottom: 10px;
    

}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
    
    
}

li {
    padding: 10px;
    font-size: 150%;

}

#body-row {
    display:flex;
    flex-direction: row;
    padding: 3%;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    padding-top: 8%;
    padding-right: 10%;
    padding-bottom: 100%;
    background-color: rgba(111, 111, 111, 0.834);
    gap: 40%;

    
}

.selfie {
    width: 300%;
    height: 100%;
}

.text{
    display: flex;
    font-size: 120%;
    flex-direction: column;
    
}

img {
    border-radius: 6px;
    
}

a {
    text-decoration: none;
}


