* {
    font-family: monospace;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    color: rgb(61, 61, 61);
    padding-bottom: 10px;
    

}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
    
    
}

li {
    padding: 10px;
    font-size: 150%;

}

#body-row {
    display:flex;
    flex-direction: row;
    margin: 3%;
    justify-content: space-between;
    color: rgb(61, 61, 61);
    font-size: 15px;
    margin-top: 8%;
    margin-right: 10%;
    
}

.selfie {
    width: 110%;
    height: 180%;
}

.text{
    margin-left: 5%;
}

img {
    border-radius: 6px;
}

a {
    text-decoration: none;
}
