* {
    font-family: monospace, Arial, Helvetica, sans-serif;
    margin: 0;
}
h4 {
    color: hotpink;
    font-size: 200%;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    color: rgb(61, 61, 61);
    padding-bottom: 10px;
    border: 3px solid rgb(51, 51, 51);
    
    

}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
    
    
}

li {
    padding: 10px;
    font-size: 150%;
    color:  rgb(51, 51, 51);

}

a {
    color: hotpink;
    text-decoration: none;
}


a:link {
    color: hotpink;
  }

a:visited {
    color: hotpink;
  }

  a:hover {
    color:  rgb(51, 51, 51);
  }


.first-row {
    background-color: rgba(111, 111, 111, 0.834);
    display: flex;
    flex-direction: row;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    
    
}

.portrait-image {
    width: 100%;
    
}

.heading-column{
    padding-right: 30%;
    width: 50%;
    justify-content: 

}

.first-title{
    font-size: 400%;
    color: hotpink;
}

.second-row {
    background-color: rgba(150, 150, 150, 0.834);
    color: white;
    padding: 10%;
    padding-bottom: 15%;
    padding-top: 15%;
}

.quote {
    font-style: italic;

}

.third-row  {
    background-color: rgba(205, 205, 205, 0.834);
    padding: 10%;
    padding-top:  15%;
    padding-bottom: 15%;
    font-size: 150%;
    color: hotpink;
}

.heading-desc {
    font-size: 140%;
    color: hotpink;
}

p {
    color:  rgb(51, 51, 51);
}

img {
    border-radius: 6px;
    height: 120%;
}


@media screen and (max-width: 750px){
    .portrait-image {
        width: 280%;
        
    }

    .first-row {
        padding-right: 25%;
        
        
        
    }
    
  }

  #github-link {
    color: hotpink;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  footer {
    border: 3px solid rgb(51, 51, 51); 
    background-color: rgb(236, 236, 236);
  }

