* {
    font-family: monospace;
    margin: 0;
}
h4 {
   
    font-size: 120%;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    color: rgb(61, 61, 61);
    padding-bottom: 10px;
    

}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
    
    
}

li {
    padding: 10px;
    font-size: 150%;

}

a {
    text-decoration: none;
}

.first-row {
    background-color: rgba(111, 111, 111, 0.834);
    display: flex;
    flex-direction: row;
    padding: 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    
    
}

.portrait-image {
    width: 100%;
    
}

.heading-column{
    padding-right: 30%;
    width: 50%;
    justify-content: 

}

.first-title{
    font-size: 400%;
    color: white;
}

.second-row {
    background-color: rgba(150, 150, 150, 0.834);
    color: white;
    padding: 10%;
    padding-bottom: 15%;
    padding-top: 15%;
}

.quote {
    font-style: italic;

}

.third-row  {
    background-color: rgba(205, 205, 205, 0.834);
    padding: 10%;
    padding-top:  15%;
    padding-bottom: 15%;
    font-size: 150%;
    color: rgb(86, 86, 86);
}

.heading-desc {
    font-size: 140%;
    color: white;
}

