* {
    font-family: monospace, Arial, Helvetica, sans-serif;
    margin: 0;
    
}

h4 {
    color: hotpink;
    font-size: 200%;
    
    
}

.logo-text {
    display: flex;
    flex-direction: row;
    
    
    
}


#header {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    color: rgb(61, 61, 61);
    padding-bottom: 10px;
    border: 3px solid rgb(51, 51, 51);
    

}
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
    
    
}

li {
    padding: 10px;
    font-size: 150%;
    color:  rgb(51, 51, 51);

}

a {
    text-decoration: none;
}

h1 {
    background-color:  rgba(111, 111, 111, 0.834);
    padding: 15%;
    display: flex; 
    justify-content: center;
    color: hotpink;
    font-size: 50px;
}

image {
    display: flex;
    justify-content: space-around;
    
}

.images {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: rgba(150, 150, 150, 0.834);
}



.projects-column {
    display: flex;
    flex-direction: column;
    background-color: rgba(205, 205, 205, 0.834);
    align-items: center;
    padding: 10%;


}

.projects-row{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.projects-title{
    color: hotpink;
    font-size: 50px;

}

.project-images {
    width: 100%;
    margin-top: 20px;
    height: 50%;
}

.project-titles{
    color: hotpink;
    font-size: 20px;
    margin-top: 20px;
}

img { 
    width: 20%;
    border-radius: 6px;
}

p {
    font-size: 120%;
    color:  rgb(51, 51, 51);
}

@media screen and (max-width: 750px){
  .projects-row {
    display: flex;
    flex-direction: column;

  }
}

#github-link {
    color: hotpink;
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  footer {
    border: 3px solid rgb(51, 51, 51); 
    background-color: rgb(236, 236, 236);
  }